body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px;
    background: #f4f4f4;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

/* Skills */
.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Projects */
.project-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .skill-box {
        flex-direction: column;
    }
}
